@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.header-logo{
    font-weight: bold;
    font-size: 24px;
}

.header-right {
    display: flex;
    gap: 15px;
    font-size: 18px;
}